* {
  box-sizing: border-box;
  color: white;
  overflow-x:hidden;
}

html {
  font-family: system-ui, sans-serif;
  background:#000;
  display:grid;
  justify-content: center;
}

body {
  display: grid;
  justify-content: center;
  margin: 0;
  /* max-width:42rem; */
  background-color: black;
}

#wrapper {
  display: grid;
  justify-items: center;
  width: min(100%, 32rem);
  margin: auto;
  background-color: white;
  text-align: center;

}

.section {
  background-color: black;
  width: 99%;
  border-radius: 1rem;
  margin: .5rem 0 .1rem 0;
  padding: 0 .5rem .5rem .5rem;
}

h1 {
  font-size:clamp(2.25rem, 9vw, 3.5rem);
}

#title {
  margin-bottom: 0;
}

h2 {
  font-size:clamp(1.5rem, 7vw, 1.5rem);
  text-decoration: underline;
}


h3 {
  font-size: clamp(1.25rem, 5vw, 2rem);
  margin-top: 1rem;
}

h4 {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-top: 2rem;
  margin-bottom: 0;
}

a {
  color: #188c27;
}

p {
  font-size: clamp(1rem, 5vw, 1.125rem);
  line-height: 1.8;
}

.artists {
  font-size: clamp(.6rem, 5vw, .8rem);
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  border-radius: 1rem;
}

.spacer {
  width: 100%;
  height: 3rem;
}

.song-list {
  display: grid;
  grid-template-columns: auto auto;
}

.song-list li {
  margin-right: 12px;
}

ul {
  padding: 0;
  margin: auto;
}

li {
  list-style-type: none;
  font-size: clamp(1rem, 4vw, 1.125rem);
  margin-bottom: 3rem;
}

.song-titles > ul {
  text-align: left;
}

.song-composers > ul {
  text-align: right;
}

.people-list {
  text-align: center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.people-list > li {
  padding: 0 1rem 0 1rem;
  width: 50%;
  margin-bottom: 1rem;
}



.single-column-titles {
  text-align:center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  
}

.single-column-titles > li {
  width: 100%;
  margin-bottom:  .1rem;
  margin-top: 1.8rem;
  font-size: clamp(1.3rem, 5vw, 1.8rem);
}

.soloist {
  text-align:center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.soloist > li {
  width: 100%;
  margin-top: 0;
  font-size: clamp(.8rem, 4vw, 1rem);
  margin-bottom: 0;

}

.instrumentalist {
  text-align:center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instrumentalist > li {
  width: 100%;
  margin-top: 0;
  font-size: clamp(1rem, 4vw, 1.125rem);
  margin-bottom: .5rem;
}

.single-column-people {
  text-align:center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  
}
.single-column-people > li {
  width: 100%;
  margin-bottom: 1rem;
}

.accolades {
  text-align:center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  
}
.accolades > li {
  width: 100%;
  margin-bottom: 1rem;
  font-size: clamp(.6rem, 5vw, .85rem);
}
