* {
  box-sizing: border-box;
  color: white;
}

body {
  display: grid;
  justify-content: center;
  background-color: #188c27;
  text-align: center;
}

.section {
  background-color: black;
  border-radius: 1rem;
  margin: .5vw 0 2vw 0;
  padding: 0 2vw 2vw 2vw;
}

h1 {
  font-size: 10vw;
}

#title {
  margin-bottom: 0;
}

h2 {
  font-size: 9vw;
  text-decoration: underline;
}

h3 {
  font-size: 7vw;
}

a {
  color: #188c27;
}

p {
  font-size: 5vw;
  line-height: 1.8;
}

img {
  width: 100%;
}

.spacer {
  width: 100%;
  height: 3rem;
}

.song-list {
  display: grid;
  grid-template-columns: auto auto;
}

ul {
  padding: 0;
  margin: auto;
}

li {
  list-style-type: none;
  font-size: 4.8vw;
  margin-bottom: 3rem;
}

.song-titles > ul {
  text-align: left;
}

.song-composers > ul {
  text-align: right;
}

.people-list {
  text-align: center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.people-list > li {
  padding: 0 1rem 0 1rem;
  width: 50%;
}

.single-column-people {
  text-align:center;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6rem;
}

.single-column-people > li {
  width: 100%;
}
